.answer__wrapper
	header.answer__header
		h4.answer__category Category
			|
			| (
			span.answer__category-number 1.1)

		h2.answer__category-question
	hr.answer__separator
	article.answer
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam excepturi, aliquam repellendus
		p aliquam repellendus, ipsum perferendis maiores nulla voluptas dolore obcaecati, nihil cum iste assumenda delectus officia? Possimus quos necessitatibus ab ipsam!
		ul
			li (a) The discount is expired and only can be found in the expired list
			li (b) The discount is deleted by merchants

		p ipsum perferendis maiores nulla voluptas dolore obcaecati, nihil cum iste assumenda delectus officia? Possimus quos necessitatibus ab ipsam!