$big-arrow-size: 12px;

.accordion {
	max-height: 400px;
	@extend %anim-base;
	transition-duration: $tr-duration * 0.5;
	@include will-change(max-height, opacity);
	opacity: 0;
	flex-grow: 0;
	flex-shrink: 0;
	@include margin(null null $base-spacing*2.5 null);

	&.active {
		max-height: initial;
		max-height: auto;
		opacity: 1;
	}

	&__content {
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		display: block;
		@extend %anim-base;
		@include will-change(max-height, visibility, opacity, border);
		user-select: none;
		border-top: 1px solid $c-border;
		color: $c-question-title;
		font-size: 14px;
		@include padding(null ($base-spacing*2))

	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 62px;
		cursor: pointer;
		@include padding(null ($base-spacing*2));
		background-color: $c-light;
		box-sizing: border-box;
		border-bottom: 1px solid $c-light;
		@extend %anim-base;
		@include will-change(background-color, border);
	}
	&__arrow {
		display: inline-block;
		@extend %anim-base;
		@include will-change(transform, border);
		@include size(35px);
		position: relative;
		border: 2px solid $c-border;
		border-radius: 50%;
		&-icon {
			@include position(absolute, 42% null null 50%);
			@include size($big-arrow-size);
			@include margin(-($big-arrow-size/2) null null (-($big-arrow-size/2)));
			@extend %anim-base;
			@include will-change(border);
			transform: rotate(-45deg);
			border-left: 2px solid $c-border;
			border-bottom: 2px solid $c-border;
			box-sizing: border-box;
		}
	}
	&__label {
		font-size: 20px;
		text-transform: uppercase;
		user-select: none;
		color: $c-accordion-title;
		@extend %anim-base;
		@include will-change(color);
	}
	&__panel {
		border: 2px solid $c-border;
		background-color: $c-light;
		border-radius: $bd-radius;
		@include margin(null null $base-spacing*2 null);
		@extend %anim-base;
		@include will-change(border, background-color);

		&:hover {
			border: 2px solid $c-border-active;

			.accordion__header {
				background-color: $c-bckg-active;
			}
			.accordion__arrow {
				border-color: $c-border-active;
				&-icon {
					border-color: $c-border-active;
				}
			}
			.accordion__label {
				color: $c-accordion-title-active;
			}
		}

		&.active {
			border: 2px solid $c-border-active;
			overflow: auto;

			.accordion__header {
				background-color: $c-bckg-active;
				border-bottom: 1px solid $c-border-active;
			}
			.accordion__arrow {
				transform: rotate(180deg);
				border-color: $c-border-active;
				&-icon {
					border-color: $c-border-active;
				}
			}
			.accordion__content {
				max-height: 200px;
				opacity: 1;
				user-select: initial;
				visibility: visible;
			}
			.accordion__label {
				color: $c-accordion-title-active;
			}
		}
	}
}

