$big-arrow-size: 12px;

.accordion {
	max-height: 400px;
	transition: max-height $tr-duration ease ($tr-duration * 0.5), opacity $tr-duration ease ($tr-duration * 0.5);
	opacity: 0;
	flex-grow: 0;
	flex-shrink: 0;
	@include margin(null null $base-spacing*2.5 null);

	&.active {
		max-height: initial;
		max-height: auto;
		opacity: 1;
	}

	&__content {
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		display: block;
		transition:
				max-height $tr-duration ease,
				visibility $tr-duration ease,
				opacity $tr-duration ease,
				border $tr-duration ease;

		will-change: max-height, visibility, opacity, border;
		user-select: none;
		border-top: 1px solid $c-border;
		color: $c-question-title;
		font-size: 14px;
		@include padding(null ($base-spacing*2))

	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 62px;
		cursor: pointer;
		@include padding(null ($base-spacing*2))
	}
	&__arrow {
		display: inline-block;
		transition: transform $tr-duration ease;
		@include size(35px);
		position: relative;
		border: 2px solid $c-border;
		border-radius: 50%;
		&-icon {
			@include position(absolute, 42% null null 50%);
			@include size($big-arrow-size);
			@include margin(-($big-arrow-size/2) null null (-($big-arrow-size/2)));
			transform: rotate(-45deg);
			transition: border $tr-duration ease;
			will-change: border;
			border-left: 2px solid $c-border;
			border-bottom: 2px solid $c-border;
			box-sizing: border-box;
		}
	}
	&__label {
		font-size: 20px;
		text-transform: uppercase;
		user-select: none;
		color: $c-accordion-title;
	}
	&__panel {
		border: 1px solid $c-border;
		background-color: $c-light;
		border-radius: $bd-radius;
		transition: border $tr-duration ease, background-color $tr-duration ease;

		&.active {
			border: 2px solid $c-border-active;
			overflow: auto;
			.accordion__header {
				background-color: $c-bckg-active;
				border-bottom: 1px solid $c-border-active;
			}
			.accordion__arrow {
				transform: rotate(180deg);
				border-color: $c-border-active;
				&-icon {
					border-color: $c-border-active;
				}
			}
			.accordion__content {
				max-height: 200px;
				opacity: 1;
				user-select: initial;
				visibility: visible;
				@include padding($base-spacing null);
			}
			.accordion__label {
				color: $c-accordion-title-active;
			}
		}
	}
}

