.answer {
	&__wrapper {
		width: 100%;
		position: absolute;
		left: 100%;
		top: 0;
		height: 100vh;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 0, 0);
		background-color: $c-light;
		z-index: 2;
		pointer-events: none;
		user-select: none;
		.question__item.active & {
			@include will-change(transform, opacity, visibility);
			@extend %anim-base;
			transform: translate3d(-100%, 0, 0);
			pointer-events: auto;
			user-select: all;
			opacity: 1;
			visibility: visible;
		}
	}
}