.mapp {
  .container {
    max-width: 960px;
    overflow: hidden;
    background-color: $c-app-background;
    height: 100%;
  }

  footer {
    @include margin($base-spacing null null null);
    @include position(fixed, null 0 0 0);
    z-index: 10;
    max-width: 960px;
  }
  @media(max-height: 500px) {
    footer {
      @include position(static, null)
    }
  }
}

