$spacing: 10px;
$duration: 300ms;

$tr-duration: $duration;
$h-button: 50px;
$h-header: 100px;

$c-orange: #ff850b;
$c-accordion-title: #acacac;
$c-accordion-content: #77726b;
$c-accordion-background-open: #fff7ec;
$c-accordion-background-closed: #ffffff;
$c-header-background: #f8f8f8;
$c-header-title: #474747;
$c-button-border: #f7f7f7;
$c-border-grey: #efefef;