doctype html
html(lang="en")
	head
		title = pageTitle
	body

		include partials/hello-world

		- var values = ['Daniel', 'Adela', 'Oliver', 'Tobyas'];
		ul
			each val, index in values.length ? values : ['There are no values']
				li(data-count=index, class='list-item') #{index} : #{val}
					|
					|
					a(href="google.com") google.com
